html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(250, 251, 251);
}
* {
  box-sizing: border-box;
}
.user-card {
  min-width: 350px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: rgb(48, 48, 48);
  padding: 20px 10px;
  background: rgb(254, 254, 255);
}
h2 {
  margin: 0 0 15px 0;
  border-bottom: 2px solid rgb(236, 240, 241);
}
p {
  margin: 0;
  padding: 4px;
  font-size: 1.3rem;
}
span {
  font-weight: 600;
}
img {
  border-radius: 50%;
  margin: 12px;
}
.male {
  border: 3px solid rgb(0, 188, 240);
}
.female {
  border: 3px solid rgb(225, 65, 188);
}
